# ==========================================
# POSTGRES
# ==========================================

DB_HOST=postgres
DB_PORT=5432
DB_USER=chat
DB_PASSWORD=your_postgres_password
DB_NAME=chat


# ==========================================
# POSTGRES SHARDS
# ==========================================

SHARD1_DB_HOST=postgres-shard-1
SHARD1_DB_PORT=5432

SHARD2_DB_HOST=postgres-shard-2
SHARD2_DB_PORT=5432


# ==========================================
# REDIS
# ==========================================

REDIS_HOST=redis
REDIS_PORT=6379


# ==========================================
# KAFKA
# ==========================================

KAFKA_BROKER=kafka:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092


# ==========================================
# API
# ==========================================

API_PORT=3000


# ==========================================
# FRONTEND
# ==========================================

VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:8080


# ==========================================
# CORS
# ==========================================

FRONTEND_URL=http://localhost:5173


# ==========================================
# EDGE
# ==========================================

EDGE_ID=edge-1
EDGE_PORT=4001


# ==========================================
# JWT
# ==========================================

JWT_SECRET=your_jwt_secret_here